@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat&family=Roboto&display=swap");

html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* header start */
header {
    background-image: url("image/bg2.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    
}


.banner-container{
    height: 100vh;
}
/* header end */

.navbar{
    padding: 10% 50%;
    background-color: rgb(0,0,0,0.3);
}
.navbar-brand img{
    width: 60px;
    height: auto;

}
.nav-link{
    color: white;
    margin: 10px;
    border-radius: 5px;
    transition: 0.4s;
}
.nav-link:hover{
    background: rgb(190, 162, 108);
    color: white;
    transform: scale(1.1);
}
.logo-icon{
    color: white;
}
.profile-image {
    width: 300px;
    height: 300px;
}

.custom-icon {
    color:white; 
  }
  .contact{
    color: white;
  }
  .about{
    color: white;
  }
  .about h3,p{
    color:white;
    font-size: larger;
    text-decoration: double;
  }
  /* CSS for the textarea */
.message-box {
    padding: 0;
    margin: -8px;
 

}
.submit{
    padding: 0;
    margin-right: 10px;

}

.social-icons{
    font-size: 50px; 
  }
.hero h2{
    color: rgb(247, 243, 243);
    
}

.hero p{
    color: rgb(229, 228, 233);
}

.img-fluid.hero-img {
    opacity: 0.7;   
}

.projects h1,p{
    color: white;
}
.projects h3{
    color: white;
}

.projects img{
    width: 300px;
    height: 100px;
}
.footer div,h3{
    color: black;
}


